body {
    background-color: azure;
    padding: 0;
    margin: 0;
    text-align: center;
    clear: both;
}

.navi{
    background-color: cadetblue;
    display: flex;
}

.navi h1{
    padding: 0 20px;
    line-height: 1.5em;
}

.navi ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-1 a {
    margin: 1em;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-1 a:hover{
    color: white;
    background-color: silver;
}

footer {
    width: 100%;
    color: steelblue;
    background-color: tan;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.doggies{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: top;
}

.doggies img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kittens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
}

.kittens img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}
